$NavBGActive:#E8EAF6; 
$NavBGHover: #e9e9e9;
$NavTextColor: #6B778C;
$NavTextColorActive: #8A38EE;

$LinkTextColor: #5A38EE;

$PlaqueColor1: #00818F;
$PlaqueColor2: #60CAD5;
$PlaqueColor3: #7EC74E;
$PlaqueColor4: #C7594D;
$PlaqueColor5: #FFDD99;
$PlaqueColor6: #484848;