@import "./stylesCombine";
.PageMainContainer{
    display: flex;

    height: 100vh;
    padding-left: 70px;
    .MenuBar{
        min-width: 20px;
        max-width: 20px;
        display: flex;
        flex-direction: column;

        overflow: hidden;
        transition: ease-in-out 0.3s;
        position: relative;
        &.Active{
            min-width: 280px;
        }
        .Header{
            font-size: 24px;
            text-align: left;
            padding: 20px;
            margin-bottom: 20px;
            font-weight: 500;
            color: #535353;
            position: relative;
            white-space: nowrap;
            &::after{
                content: "";
                width: 70px;
                height: 1px;
                background-color: #c7c7c7;
                position: absolute;
                bottom: 0;
                left: 20px;
            }
        }
        .CollapseMenuBar{
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 20px;
            background-color: #aea1e92d;
            z-index: 2;
            display: flex;
            align-items: center;
            border-left: 1px solid #dddddd;
            .Icon{
                transform: rotateZ(0deg);
                transition: ease-in-out 0.3s;
                &.Active{
                    transform: rotateZ(180deg);
                }
            }
        }
        .MenuButtonContainer,
        .MenuButton{
            text-align: left;
            width: calc(100% - 20px);
            font-weight: 500;
            color: rgb(109, 109, 109);
            text-decoration: none;
            padding-left: 20px;
            transition: ease-in-out 0.1s;
            white-space: nowrap;
            &.Sub{
                width: 100%;
            }
            .ButtonDetail{
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 5px 16px;

                font-size: 16px;
                font-weight: 500;
                color: #6B778C;
                text-transform: unset !important;
                border-radius: 0;
                &:hover{
                    background-color: #e9e9e9;
                }
                &.Active{
                    background-color: #E8EAF6;
                    color: $NavTextColorActive;
                    border-right: 3px solid rgb(42, 39, 238);
                }
                .Icon{
                    font-size: 30px;
                    transform: rotateZ(0deg);
                    transition: ease-in-out 0.2s;
                    &.Active{
                        transform: rotateZ(180deg);
                    }
                }
            }
        }

        .MenuButtonContainer{
            
            transition: ease-in-out 0.2s;
            .FeaturesList{
                display: flex;
                flex-direction: column;
                min-height: 0;
                max-height: 0;
                overflow: hidden;
                transition: ease-in-out 0.3s;
                &.Active{
                    min-height: 100%;
                    max-height: 100%;
                   
                }
            }
        }
    }
    .Content{

        height: 100%;
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
    }
}

.MainBodyContainer{
    padding: 0 30px;
    padding-top: 60px;


    .Header{
        text-align: left;
        font-size: 29px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 10px;
        img{
            width: 50px;
            height: 50px;
        }
    }
}