.PageRouter {
    display: flex;
    padding-left: 70px;
    height: 100vh;
    .Left {
        width: 256px;
        border-right: 1px solid #e6e6e6;
        display: flex;
        flex-direction: column;
        padding-left: 25px;
        .Header {
            padding-top: 32px;
            padding-bottom: 24px;
            font-size: 24px;
            text-align: left;
            font-weight: 500;
            color: #000;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 75px;
                height: 1px;
                background-color: rgb(212, 212, 212);
            }
        }
        .MenuList {
            margin-top: 25px;
            display: flex;
            flex-direction: column;
        }
    }
}
