.NavButton {
    width: 64px;
    height: 40px;
    padding: 8px;


    .Icon {
        font-size: 24px;
        color: #666666;
        fill: #666666;
        &.Active {
            background-color: #E8EAF6;
            fill: #5A38EE;
            color: #5A38EE;
        }
    }
    &.Active {
        background-color: #E8EAF6;

    }


}
.LinkTextButton {
    text-decoration: none;
    .NavTextButton {
        width: 100%;
        text-align: left;
        justify-content: flex-start !important;
        padding: 8px 16px;
        color: #666666;
        text-transform: unset !important;

        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 0;
        white-space: nowrap;
        &.Active {
            background-color: #E8EAF6;
            border-right: #5A38EE 3px solid;
            color: #5A38EE;
        }
        &:hover {
            background-color: #e7e7e7;

        }
    }
}
