.NavBar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 70px;
    border-right: 1px solid #e6e6e6;
    background-color: #fff;
    .Logo {
        padding-top: 25px;
        img {
            width: 50px;
            height: 50px;

        }

    }
    .NavLinkContainer {
        padding-top: 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;


    }
}
