.ChangePasswordContainer{
    display: flex;
    justify-content: center;
    .ChangePasswordForm{
        width: 500px;
        padding: 30px;
        .Header{
            font-size: 22px;
            justify-content: center;

        }
        .Input{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .Controller{
            margin-top: 40px;
            display: flex;
            .Button{
                width: 100%;
            }
        }
    }
}